body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card{
    filter: blur(10px);
}

.card{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(18%);
    transform: translateY(18%);
    height: 500px;
    width: 350px;
    background: inherit;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);    
    filter: blur(1px);
    border-radius: 17px;
    display: flex;
    justify-content: center;
}

.card .link-container{
    margin: auto;
}

.card .link-container .link{
    font-family: cursive;
    font-size: 1.55rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem;
    box-shadow: inset 0 0 3000px rgba(255, 255, 255, .5);
    display: block;
    color: #161616;
    margin: .75rem;
    width: 15rem;
    text-align: center;
    border-radius: 10px;
}

.card .link-container .link:hover{
    color: black;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .9);
}